<!DOCTYPE html>
<html lang="en">
<head>
<title>Game Theory</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/styles.css" />
</head>
<body>

  <header>
    <h1 class="header-title">NBA Game Analysis</h1>
    <nav>
        <ul>
            <li><a href="/">Home Page</a></li>
            <li><a href="/statistics">Statistics</a></li>
            <li><a href="/scores" class="active">Scores</a></li>
            <li><a href="/trending">Trending News</a></li>
            <li><a href="/teams">Teams</a></li>
            <li><a href="/predictions">Predictions</a></li>
            <li><a href="/contactus">Contact Us</a></li>
        </ul>
    </nav>
</header>

<div class="row">
  <div class="main">
    <h1>Welcome!</h1>
    <h2>This is the place of predictions. A place of probabilites for basketball and the NBA. Navigate to find the most probable winner.</h2>
    <img src="https://img.goodfon.com/original/1920x1200/2/ed/basketball-nba-slam-dunk.jpg" alt="Court" style="width:960px;height:540px;">
  </div>
</div>

<div class="footer">
  <h2>Game Theory</h2>
</div>

</body>
</html>
