body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #525252, #000000);
  font-family: 'Quicksand', sans-serif;
}

.form-signin {
  background: radial-gradient(rgb(255, 255, 255), #dcdcdc, #c6c6c6);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
}

.form-signin-heading {
  margin-bottom: 20px;
  font-weight: 600;
  color: #333;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}


.btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: linear-gradient(135deg, #ef861d, #d35313);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: linear-gradient(135deg, #aa6016, #d35313);
  transform: scale(1.05);
}